/*
Author: Matthew Davis
Project: Odin Project: Sign-Up Form
Date Created: July 1st, 2022

Goal: 
Create a faux sign-up website utilizing what we've 
learned thusfar. The project will include the following:
    * EMMET Usage
    * Form Basics
    * Form Validation
    * Utilizing a Default Style.css file
    * Using CSS Units (vh/vw, em/rem)
    * Utilizing a System Font Stack
    * CSS Functions for Responsiveness
    * Custom Propertie(s)
*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@font-face {
    font-family: logo-font;
    src: url(./assets/a-attack-graffiti-font/AttackGraffiti-3zRBM.ttf);
}

/*
This snippet of code was done by Jonathan Neal
Twitter:  https://twitter.com/jon_neal
Repo: https://github.com/csstools/system-font-css/blob/gh-pages/system-font.css
*/
@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 400;
	src: local(".SFNS-Regular"), local(".SFNSText-Regular"), 
        local(".HelveticaNeueDeskInterface-Regular"), 
        local(".LucidaGrandeUI"), local("Segoe UI"), 
        local("Ubuntu"), local("Roboto-Regular"), 
        local("DroidSans"), 
        local("Tahoma");
}

:root {
    --safe-fonts: system-ui, monospace, Verdana, Helvetica, 
                'Times New Roman', 'Courier New', monospace;
    font-family: var(--safe-fonts);
}

body {
    display: flex;
    /* Element takes up 100% of the page. */
    min-height: 100vh;
}

/* Splash Logo Font */
h1 {
    font-family: logo-font, "Permanent Marker", var(--safe-fonts);
    letter-spacing: 1vw;
}

/* 
The left side of the page - Main Container 
Parent of the following: 
    .logo
    .credits
*/
.container_splash {
    background-image: url("./assets/Images/background.jpg");
    background-size: 675px;
    /* Keeps image centered when resizing the page. */
    background-position: center;
    min-width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* 
The main logo image.
*/
.img_logo {
    width: 150px;
    height: 150px;
}

/* 
Houses the image and name of the company.
Child element of .container_splash.
*/
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Creates space based on view height */
    margin-top: 15vh;
    /* Goes to the max width of its parent */
    width: 100%;
    background-color: hsla(0, 0%, 96.9%, 0.79);
    padding: 2em 0;
    /* Added to have the logo NOT clip */
    overflow: hidden;
}

/*

Child element of .container_splash.
*/
.credits {
    margin: auto auto 1vw;
    text-align: center;
    padding: 0 .5vw .5vw;
    overflow: hidden;
}

/*
The right most part of the page: a primary container. 
Is the parent of the following classes: 
    .msg_bork
    .credentials
    .form_inputs
    .log-in

*/
.container_sign_up {
    background-color: #bfbfbf;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
    z-index: 0;
}

.container_sign_up > div {
    padding-left: 3vw;
}

/*
The container which holds the sign-up 
information.
*/
.credentials {
    background-color: #eee;
    padding: 3vh 0 5vh 3vw;
    box-shadow: 5px 10px 25px #777;
}

/* 
Form holding each container of input fields.
*/
.form_inputs {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

/*
Main container elements for pairs 
of related input elements.
*/
.form_inputs > div {
    display: flex;
    gap: 5vw;
}

/*
Container divs for each individual
label/input pair.
*/
.form_inputs > div > div {
    display: flex;
    flex-direction: column;
}