/*
Author: Matthew Davis
Project: Odin Project: Sign-Up Form
Date Created: July 1st, 2022

Goal: 
Create a faux sign-up website utilizing what we've 
learned thusfar. The project will include the following:
    * EMMET Usage
    * Form Basics
    * Form Validation
    * Utilizing a Default Style.css file
    * Using CSS Units (vh/vw, em/rem)
    * Utilizing a System Font Stack
    * CSS Functions for Responsiveness
    * Custom Propertie(s)
*/

body {
    display: flex;
    /* Element takes up 100% of the page. */
    min-height: 100vh;
}

/* 
The left side of the page - Main Container 
Parent of the following: 
    .logo
    .credits
*/
.container_splash {
    background-image: url("./assets/Images/background.jpg");
    background-size: 675px;
    /* Keeps image centered when resizing the page. */
    background-position: center;
    min-width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
The main logo image.
*/
.img_logo {
    width: 150px;
    height: 150px;
}

/* 
Houses the image and name of the company.
Child element of .container_splash.
*/
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Creates space based on view height */
    margin-top: 15vh;
    /* Goes to the max width of its parent */
    width: 100%;
    background-color: hsla(0, 0%, 96.9%, 0.79);
    padding: 2em 0;
    /* Added to have the logo NOT clip */
    overflow: hidden;
}

/*

Child element of .container_splash.
*/
.credits {
    margin: auto auto 1vw;
    text-align: center;
    padding: 0 .5vw .5vw;
    overflow: hidden;
}

/*
The right most part of the page: a primary container. 
Is the parent of the following classes: 
    .msg_bork
    .credentials
    .form_inputs
    .log-in

*/
.container_sign_up {
    background-color: #bfbfbf;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
}

.container_sign_up > div {
    padding-left: 3vw;
}

.credentials {
    background-color: #eee;
    padding: 3vh 0 5vh 3vw;
    box-shadow: 5px 10px 25px #777;
}

/*
Main container elements for pairs 
of related input elements.
*/
.form_inputs > div {
    display: flex;
    gap: 5vw;
}

/*
Container divs for each individual
label/input pair.
*/
.form_inputs > div > div {
    display: flex;
    flex-direction: column;
}